{% extends 'rating/_base_template.html' %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block sidebar %}

    {% if my_groups_list %}


      {% for group in my_groups_list %}
          <li class="nav-item">
                <a class="nav-link" href=""><span data-feather="users"></span>{{ group.name }} група</a>
              </li>
      {% endfor %}

    {% endif %}



                    {% endblock %}


{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{% block h1 %}ВІТАЮ ! {% endblock %}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                {% block buttons %}

                    {% endblock %}
            </div>

          </div>

        {% block main %}

            {% if user.is_authenticated %}
     <h2 class="h5">Куратор: <b>{{ user.username }}</b></h2>
                Ваша група знаходиться <a class="nav-link" href="{% url 'group' %}"><span data-feather="arrow-right"></span>тут</a>


   {% else %}
     <form method="post" action="{% url 'group' %}">
        {% csrf_token %}
            <div>
               <td>Для продовження роботи введіть логін</td>
                <td><input type="text" name="user"></td>
            </div>
         <div>
                <td>та пароль</td>
               <td><input type="password" name="pass"></td>
            </div>

            <div>
              <input type="submit" value="Продовжити роботу" />
              <input type="hidden" name="next" value='{{ next }}' />
            </div>
    </form>
   {% endif %}

        {% endblock %}

 </main>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}