{% extends 'rating/index.html' %}

{% block head %}
    {{ block.super }}
    <link href="/static/css/jquery-ui.css" rel="stylesheet">
    <link href="/static/css/jquery-confirm.css" rel="stylesheet">
    <link href="/static/css/toastr.min.css" rel="stylesheet">
{% endblock %}


{% block sidebar %}

          <li class="nav-item">
                <a class="nav-link" href="#"><span data-feather="users"></span>Блок 1</a>
              </li>

    <li class="nav-item">
                <a class="nav-link" href="#"><span data-feather="users"></span>Блок 2</a>
              </li>

    <li class="nav-item">
                <a class="nav-link" href="#"><span data-feather="users"></span>Блок 3</a>
              </li>
    <li class="nav-item">
                <a class="nav-link" href="#"><span data-feather="users"></span>Блок 4</a>
              </li>
{% endblock %}

{% block h1 %}Індивідуальний рейтинг студента {% endblock %}




{% block buttons %}
    {% if user.is_authenticated %}
     <button class="btn btn-sm btn-outline-secondary" id="to-group">Назад до групи</button>
   {% endif %}


{% endblock %}

{% block main %}





{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/jquery-confirm.js"></script>
    <script src="/static/js/toastr.min.js"></script>
    <script src="/static/js/reytyng.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {



    });

    </script>


{% endblock %}